@font-face {
    font-family: 'Nunito';
    src: url('/assets/fonts/Nunito-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url('/assets/fonts/Nunito-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
	font-family: 'Kitab';
	src: local('Kitab Regular'), local('Kitab-Regular'),
		url('/assets/fonts/Kitab-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Kitab';
	src: local('Kitab Bold'), local('Kitab-Bold'),
		url('/assets/fonts/Kitab-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

:root {
	--blue: #1E88E5;
	--white: #FFFFFF;
	--offwhite: #F8F8FA;
	--transition-duration: 300ms;
	--font-list: Nunito, Kitab, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: #212121;
		color: #dadada;
	}
	a, a:visited {
		text-decoration: underline solid #67b6ff;
		color: #67b6ff
	}
	a:hover, a:focus {
		background-color: rgba(103, 182, 255, 0.486);
		color: rgb(204, 204, 204);
	}
	#bd-email {
		border: 1px solid #dadada;
		color: #dadada;
	}
}
@media (prefers-color-scheme: light) {
	body {
		color: #333;
	}
	a, a:visited {
		color: #2879C4;
		text-decoration: underline solid #2879C4;
	}
	a:hover, a:focus {
		background-color: rgb(103,182,255,0.2);
		color: #000;
	}
	#bd-email {
		border: 1px solid #111;
	}
}

* {
	margin: 0;
	padding: 0;
}

*,
*:after,
*:before {
	box-sizing: border-box;
}

body {
	position: relative;
	font-family: var(--font-list);
	-webkit-font-smoothing: antialiased;
}
:root.default-small-text {
	font-size: 16px;
	font-weight: 600;
}
:root.large-text {
	font-size: 20px;
	font-weight: 400;
}
@media screen and (max-width: 550px) {
	:root.default-small-text {
		font-size: 14px;
	}
	:root.large-text {
		font-size: 18px;
	}
}

@media only screen and (max-width: 300px) {
	* {
		font-size: 0.92rem;
	}
}

a {
	border-radius: 4px;
	transition-property: all;
	transition-duration: .2s;
}

a:focus, a:hover {
	text-decoration: none;
}

button {
    font-family : Nunito;
}