:root {
	--blue: #1E88E5;
	--white: #FFFFFF;
	--offwhite: #F8F8FA;
	--transition-duration: 300ms;
	--font-list: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: #212121;
		color: #dadada;
	}
	#main-logo {
		content: url(/assets/logo-dark.svg)
	}
	a, a:visited {
		text-decoration: underline solid #67b6ff;
		color: #67b6ff
	}
	a:hover, a:focus {
		background-color: rgba(103, 182, 255, 0.486);
		color: rgb(204, 204, 204);
	}
	#bd-email {
		border: 1px solid #dadada;
		color: #dadada;
	}
}
@media (prefers-color-scheme: light) {
	body {
		color: #333;
	}
	#main-logo {
		content: url(/assets/logo.svg)
	}
	a, a:visited {
		color: #2879C4;
		text-decoration: underline solid #2879C4;
	}
	a:hover, a:focus {
		background-color: rgb(103,182,255,0.2);
		color: #000;
	}
	#bd-email {
		border: 1px solid #111;
	}
}

* {
	margin: 0;
	padding: 0;
}

*,
*:after,
*:before {
	box-sizing: border-box;
}

body {
	position: relative;
	font-family: var(--font-list);
	-webkit-font-smoothing: antialiased;
}

@media only screen and (max-width: 300px) {
	* {
		font-size: 0.92rem;
	}
}

a {
	border-radius: 4px;
	transition-property: all;
	transition-duration: .2s;
}

a:focus, a:hover {
	text-decoration: none;
}
#subscribe-form {
	font-family: Jost,'SF Compact Display',-apple-system,BlinkMacSystemFont,"Segoe UI",'PT Sans',Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol",sans-serif;
	display: flex;
	justify-content: center;
	text-align: center;
	margin-top: 1em
}

#subscribe-internal {
	display: flex
}

#subscribe-button {
	background-color: #ff6767;
	border-radius: 0 4px 4px 0;
	color: #fafafa;
	padding: 6px 15px
}
#subscribe-button:hover {
	cursor: pointer;
}

#bd-email {
	border-radius: 4px;
	padding: 6px;
	margin-right: -4px;
	min-width: 200px
}

input#bd-email:focus {
	border: 1px solid #ff6767
}
button,input,textarea {
	-webkit-appearance: none;
	padding: 0;
	font: inherit;
	background: 0 0;
	border: 0;
	outline: 0
}


@media (max-width: 400px) {
	#subscribe-internal {
			display:block
	}

	#subscribe-button {
			border-radius: 4px;
			margin-top: 1px
	}
	#bd-email {
		width: 100px
	}
}
